:root {
    --serif-font: 'adobe-caslon-pro', sans-serif;
    --sans-font: 'Source Sans Pro', sans-serif;
    --color-theme: #119EAC;
    --color-text-dark: #2E2E2E;
}

* {
    font-family: var(--serif-font);
    color: var(--color-text-dark);
}

/* Navbar */
.navbar-brand {
    font-size: 2rem;
}

li .active {
    border-bottom: 2px solid var(--color-theme); 
}

#navbar {
    color: var(--color-text-dark);
}

#navbar a {
    color: var(--color-text-dark);
}

#navbar a:hover {
    background-color: white;
    color: gray;
}

/* Slideshow */
.slideshow-category {
    font-family: var(--sans-font);
    color: var(--color-theme);
    line-height: 0.6;
    font-size: smaller;
    font-weight: bold;
}

.slideshow-title {
    font-weight: lighter;
    font-size: 1.5rem;
    color: white;
}

.carousel-caption {
    padding: 20px;
    padding-bottom: 15px;
    left: 0;
    right: auto;
    background: rgba(18, 18, 18, 0.7);
}

/* Posts */
.home-post-category {
    font-family: var(--sans-font);
    font-weight: bold;
    font-size: smaller;
    color: var(--color-theme);
}

.home-post-date { 
    font-size: smaller;
}

#recent-posts {
    background: white;
}

#top-posts {
    background: #eff1f4;
}

/* Social footer */
.instagram-icon {
    max-height: 1.5rem;
    vertical-align: text-top;
}

#social-footer {
    background: #eaecef;
}

#email-input {
    font-family: var(--sans-font);
}

.btn-subscribe {
    font-family: var(--sans-font);
    border-radius: 20px;
}

/* Site-map footer */
footer {
    background-color: #292929;
}

#footer-siteid {
    font-family: var(--serif-font);
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: gray;
}

footer h4, footer h5, footer h6, footer p {
    color: white;
    font-weight: 100;
    font-family: var(--sans-font);
    font-size: medium;
}

footer .d-md-block h4 {
    color: var(--color-theme);
    margin-bottom: 1.2rem;
}

footer p {
    padding-left: 1rem;
}

footer h5 {
    color: gray;
}

footer li {
    color: white;
    list-style: none;
}